[submodule "Keela/vender/spdlog"]
	path = Keela/vender/spdlog
	url = http://github.com/gabime/spdlog
[submodule "Keela/vender/GLFW"]
	path = Keela/vender/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Keela/vender/glm"]
	path = Keela/vender/glm
	url = https://github.com/g-truc/glm/
[submodule "Keela/vender/ImPlot"]
	path = Keela/vender/ImPlot
	url = https://github.com/epezent/implot.git
[submodule "Keela/vender/opencv"]
	path = Keela/vender/opencv
	url = https://github.com/opencv/opencv.git
[submodule "Keela/vender/pylon"]
	path = Keela/vender/pylon
	url = https://github.com/pylon-lib/pylon.git
[submodule "Keela/vender/basler/gst-plugin-pylon"]
	path = Keela/vender/basler/gst-plugin-pylon
	url = https://github.com/basler/gst-plugin-pylon.git
[submodule "Keela/vender/stb"]
	path = Keela/vender/stb
	url = https://github.com/nothings/stb.git